body {
  background-color: #fff;
  font-family: "Lucida Sans Unicode", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
}

.banner {
  background: url('../img/header_background.jpg') top center no-repeat;
  width: 100%;
}

.banner header {
  margin: 30px 0;
}

.presentation {
  padding: 40px 0;
}

.presentation h2 {
  color: #008658;
}

.presentation p.lead {
  color: #666;
  margin: 40px 0;
}

#addresses {
  margin: 0;
  padding: 0;
}

#addresses li {
  margin: 20px 0;
  list-style: none;
}

#addresses li input[type=text] {
  font-family: Lato, sans-serif;
  font-size: 17px;
}

#addresses li input[type=text]:hover {
  color: #000;
}

#addresses p {
  color: #666;
}

#addresses .block {
  margin: 20px 0;
}

::selection {
  background-color: #d7f0e7;
}

::-moz-selection {
  background-color: #d7f0e7; /* Gecko Browsers */
}